.menuTodasCategorias {
    background-color:#697074;
}

.menuMobile{
    background-color:#fdc14a;
}

.menuProgramacao {
    background-color:#00c86f;
}

.menuFrontEnd {
    background-color:#009bdd;
}

.menuInfraestrutura {
    background-color:#f1634b;
}

.menuDesign {
    background-color:#9d60b8;
}

.menuBusiness {
    background-color:#0079ac;
}