.mobile {
    background-color: #fdc14a
}

.programacao {
    background-color: #00c86f
}

.frontend {
    background-color: #009bdd
}

.infra {
    background-color: #f1634b
}

.designux {
    background-color: #9d60b8
}

.business {
    background-color: #0079ac
}